<div id="content" class="container_12">


  <div id="category" class="grid_12">


    <div class="clear"></div>

    <div class="s_listing s_list_view clearfix">

      <%@companies.each do |company|%>

          <div class="s_item clearfix" style="opacity: 1; ">
            <div class="grid_3 alpha">
              <%=link_to company do%>
                  <%=image_tag(company.image_url)%>
              <%end%>
            </div>

            <div class="grid_9 omega">
              <h3>
                <%=link_to company.name, company%>
              </h3>
              <p class="s_model"><%=company.address.city if company.address%></p>
              <p class="s_description">

              </p>
            </div>
          </div>



      <div class="clear" style="opacity: 1; "></div>
      <%end%>
    </div>

    <div class="pagination">
      <div class="results">Showing 1 to 6 of 6 (1 Pages)</div>
    </div>

  </div>


</div>